.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    color: white;
    padding: .7rem 2.5rem;
    transition: .3s;
    border-radius: 10px;

    &:hover {
        opacity: .8;
    }
    &-blue {
        background: linear-gradient(270deg, #198CD9 6.67%, rgba(25, 140, 217, 0.83) 50%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &-black {
        background: linear-gradient(270deg, #312E3A 6.67%, rgba(49, 46, 58, 0.83) 50%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &-green {
        background-color: $green;
        color: $black;
    }
}

.footer {
    position: relative;
    margin-top: 40vh;
    padding-top: $ml-size;
    background-color: $black;
    color: $white;
    min-height: 60vh;
    .waves {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-95%);
    }

    .container {
        
        .menu {

            &__item {
                margin-bottom: $m-size;

                .menu__link {
                    color: $white;
                }
            }
        }
    }
    
    .btn-list {
       
        
        .btn {
            justify-self: flex-end;
            display: block;
            width: fit-content;
            margin-bottom: $m-size;
        }
    }
}